@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Add</button>
<br/>
<br/>
<button class="btn btn-primary" @onclick="DecreaseCount">Subtract</button>

@code {
    <!-- define the variable currentCount -->
    private int currentCount = 0;

    <!-- this public variable determines increment -->
    [Parameter]
    public int IncrementAmount {get; set;} = 1;

    <!-- define the function IncrementCount -->
    private void IncrementCount()
    {
        currentCount += IncrementAmount;
    }
    <!-- define the function DecreaseCount -->
        private void DecreaseCount()
    {
        currentCount -= IncrementAmount;
    }
}
