.main-head[b-3ij3p7wwc4] {
    display: flexbox;
    background-color: #003262;
    height: 150px;
    align-items: center;
}
.ursus[b-3ij3p7wwc4] {
    font-size: 30px;
    letter-spacing: 1.5px;
    color: #C4820E;
}
.description[b-3ij3p7wwc4] {
    color: #3B7EA1;
}
.test[b-3ij3p7wwc4] {
    color: white;
}