.main-head {
    display: flexbox;
    background-color: #003262;
    height: 150px;
    align-items: center;
}
.ursus {
    font-size: 30px;
    letter-spacing: 1.5px;
    color: #C4820E;
}
.description {
    color: #3B7EA1;
}
.test {
    color: white;
}