@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">

    <main>
        <div class="top-row main-head">
            <div class="container">
            <div class="row"></div>
                <div class="row content">
                <div class="col order-first test">img here</div>
                    <div class="col-sm-9">
                        <div class="ursus">Ursus Aureus Holdings LLC</div>
                        <div class="row content">
                                <div class="description">Holding and Investment Partnership</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
